<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIDS Dataset Repository</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <script src="{{ url_for('static', filename='download_script.js') }}" defer></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>
<body>
    <header style="
    color: #f8f0f0;
    background-color: black;
    border-color: rgb(136, 136, 136);
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;">
        <h1> The Brain, Body, and Behaviour Dataset - Neural Engineering Lab, CCNY</h1>
    </header>

    <header style="color: #f8f0f0; background-color: #1e2760; border-color: rgb(136, 136, 136); padding-top: 2px;">
        <nav>
            <ul style="list-style: none; display: flex; padding: 0; margin: 0;">
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('experiments_page') }}" class="nav-link">Experiments</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('questionnaires_page') }}" class="nav-link">Questionnaires</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('tutorials_page') }}" class="nav-link">Tutorials</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('research_page') }}" class="nav-link">Research</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('about_page') }}" class="nav-link">About</a>
                </li>
                <li>|</li>
                <li style="margin-right: 10px;">
                    <a href="{{ url_for('download_page') }}" class="nav-link">Download</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="superexp-heading">
            <h2>Choose Experiment to Download Respective Datasets</h2>
        </section>

        <div>
            <section id="dataset-list-content">
                <h2>Datasets:</h2>
                <ul id="datasets"></ul>
                <button id="download-button" class="btn" style="display: none; margin-bottom: 10px;"></button>
                <button id="download-progress-button" class="btn" style="display: none; margin-bottom: 10px;"><br></button>
                <div id="dataset-info-fullpage">
                    <p>Select a dataset from the list to view details.</p>
                </div>
            </section>
        </div>

        <section id="superexp-heading">
            <h2>Data Matrix Download (.mat files)</h2>
        </section>

        <div id="table-container" style="width: 100%; margin: 20px;"></div>

    </main>

    <footer>
        <p>&copy; 2024 Neural Engineering Lab Dataset Repository. All Rights Reserved.</p>
    </footer>
</body>
</html>
